@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,800');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&subset=latin-ext');

img, picture, video, embed, iframe { max-width: 100%; }
body {color:#a6a6a6; font:14px Arial;}
h1 { color: #41516a; font-family: 'Poppins', sans-serif; font-size: 35px;}
h2 {color: #41516a; font-size: 16px; font-family: 'Poppins', sans-serif; }
h3 {color: #212331;font-family: 'Poppins', sans-serif;}
p  {font:16px/20px Arial; }

/* TOPO */
.topo-home .fixed-top { background: #f9f9f9; /*border-bottom: 1px solid #efefef;*/ }
.topo-home .navbar-brand>img { max-width:120%;} 
.topo-home .fixed-top .navbar-brand { width: 120px; height:auto; -webkit-transition: all .6s ease; -moz-transition: all .6s ease; transition: all .6s ease;}
.topo-home .fixed-top.navbar-shrink .navbar-brand{ width: 100px;}
.topo-home .navbar-shrink { background: #46ca58; transition: all .6s;}
.topo-home .fixed-top.navbar-shrink .navbar-nav li a { color: #fff;}
.topo-home .logo-top { display: none;}
.topo-home .navbar-shrink .logo-home { display: none; -webkit-transition: all .3s; -moz-transition: all .3s; transition: all .3s;}
.topo-home .navbar-shrink .logo-top { display: block;-webkit-transition: all .3s;-moz-transition: all .3s; transition: all .3s;}

#modalLogin .modal-body {padding: 30px 30px 40px;}
#modalLogin .modal-body .btn-primary {background: #46ca58; border: none; padding: 10px 30px; float: right;}
#modalLogin .modal-header { background: #f7f7f7;}
#modalLogin .modal-header img { margin: 0 auto; }
#modalLogin .modal-header .close { margin: 0;}
#modalLogin .form-control {padding: 10px;}
#modalLogin .form-control { border: 1px solid #e4e4e4;}

.navbar-default .navbar-toggle { border: 0; margin-top: 14px;}
.navbar-default .navbar-toggle .icon-bar { background:#66CC00; }
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover .icon-bar { background:#000;  }
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background:none; outline: none; }
.topo-home .navbar a:focus { outline: 0; }
.topo-home .navbar-nav li a { color: #212331; font: 300 14px 'Poppins', sans-serif; text-decoration: none; padding: 0 12px; }
.topo-home .navbar-nav li .login { border-radius: 10px; color: #46ca58; font-weight: 400;}
.topo-home .navbar-nav li .login:hover { color: #333; }
.topo-home .navbar-nav li .login::before { content: "\f007"; font-family: "Font Awesome\ 5 Free"; font-weight: 900; margin-right: 5px; font-size: 16px; }
.topo-home .navbar-nav li a:hover { color:#46ca58; transition: all .6s ease; }
.topo-home .navbar .navbar-nav li a:focus { outline: 0;}
.navbar-default, .navbar-inverse { border: 0;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover { background:#66CC00; color:#fff; }
.navbar-dark .navbar-toggler-icon { background-image: none;}
.navbar-toggler-icon::before {content: "\f0c9"; color: #46ca58; font-family: "Font Awesome\ 5 Free"; font-weight: 900; font-size: 24px;}
.topo-home button { outline: 0;}

/* BANNER HOME */
.banner-home { margin-top: 89px;}
.banner-home img {width: 100%; }
.banner-home .swiper-container .banner1:nth-child(1) .caption p::after { background: #46ca58f5;}
.banner-home .swiper-container .banner1:nth-child(2) .caption p::after { background: #ea9e01;}
.banner-home .swiper-container .banner1:nth-child(3) .caption p::after { background: #064b73;}
.banner-home .swiper-container .banner1:nth-child(3) .caption p span b { color: #ffeb00; font-weight: bold;}

/* Institucional */
.box-institucional { padding: 100px 0 100px;}
.box-institucional h1 { font-weight: 100; padding-bottom: 20px;}
.box-institucional h1 span { font-weight: 700; display: block; }
.box-institucional h3 { font-size: 22px; margin-bottom: 30px;}
.box-institucional img { float: right;}

/* Box Vídeo */
.box-video {background: #f6f5ff; max-height: 500px; overflow: hidden;}
.box-video h2 {font-size: 35px; margin-bottom: 40px;}
.box-video h2 span {display: block; font-weight: 700;}
.box-video .texto-video { padding: 100px 100px 20px;}
.box-video p:last-child { color: #46ca58;}
.box-video .botaoVideo a {transition: all .6s ease;}
.box-video .botaoVideo a::before {bottom: 0; content: ""; display: block; left: 0; position: absolute; right: 0; top: 0; z-index: 2;}
/*.box-video .botaoVideo::before {content: ""; width: 104px; height: 104px; background-image: url(../img/icon-video.png); left: 45%; top: 170px; display: flex; align-items: center; position: absolute; cursor: pointer; z-index: 1;}*/
.box-video img { width: 100%;}
.box-video .modal-content { background: none; border: none;}
.box-video .modal-content button { color: #fff; opacity: 1;}
.box-video .modal-content button span {float: right; background: #000000; padding: 0px 5px 5px;}
.box-video .modal-dialog { max-width: 700px;}

/* Box Como começar */
.box-comecar { background: url(../img/bg-fundo.png), linear-gradient(141deg, #423f9c 0%, #423f9c 51%, #862359 75%); padding: 100px 0 100px; }
.box-comecar h2 {color: #fff; font-size: 35px; font-weight: 700; margin-bottom: 80px; text-align: center;}
.box-comecar ul { padding: 0; list-style: none; text-align: center; margin: 0;}
.box-comecar ul li { margin-bottom: 30px; counter-increment: li;}
.box-comecar ul li::after { content: counter(li) ""; color: #fff; width: 60px; height: 60px; font: 26px 'Poppins', sans-serif; text-align: center; background: #6144d0; position: absolute; top: 5px; left: 80px; border: 3px solid #fff; border-radius: 50%; display: grid; align-items: center; }
.box-comecar ul li img { padding: 20px; background: #fff; border-radius: 50%; box-shadow: 3px 3px #322153; }
.box-comecar ul li h3 { color: #fff; text-transform: uppercase; font-size: 20px; font-weight: 600; padding-top: 20px;}
.box-comecar ul li p {color: #fff; font-size: 16px; padding-top: 10px;}

/* Box Vantagem */
.box-vantagem { background: url(../img/bg-fundo-branco.png), linear-gradient(141deg, #46bace 0%, #4c6cba 51%, #7370af 75%); padding: 100px 0 100px; }
.box-vantagem h2 {color: #fff; font-size: 35px; font-weight: 700; margin-bottom: 80px; text-align: center;}
.box-vantagem h2 span {display: block; font-weight: 100; }
.box-vantagem ul { padding: 0; list-style: none; text-align: center; }
.box-vantagem ul li { padding-bottom: 20px; }
.box-vantagem ul li h3 { color: #ffffff; font-size: 16px; font-weight: 600; margin-top: 10px; margin-bottom: 20px; }
.box-vantagem ul li p { color: #fff; opacity: 0.8;}

/* Box Porque */
.box-porque { background: #f5f3fa; padding: 100px 0 100px; }
.box-porque h2 { font-size: 35px; font-weight: 700; text-align: center; padding-bottom: 40px;}
.box-porque h2 span { display: block; font-weight: 100;}
.box-porque ul {padding: 0; list-style: none; text-align: center; margin: 0;}
.box-porque ul li {margin-bottom: 30px;}
.box-porque ul li img { padding: 20px; background: #fff; border-radius: 15%; box-shadow: 3px 3px #e7e7e7; }
.box-porque ul li p {font-size: 16px; padding-top: 25px;}

/* Box Instalar */
.box-instalar {background: url(../img/bg-instalar.jpg); padding: 100px 0 100px; text-align: center;}
.box-instalar h2 { color: #fff; font-size: 35px; font-weight: 600; padding-bottom: 40px;}
.box-instalar p {color: #fff; font-family: 'Poppins', sans-serif; font-size: 24px; font-weight: 300; margin-bottom: 60px; line-height: 1.4;}
.box-instalar p span { color: #fac50f; font-weight: 400;}
.box-instalar .btnInstalar { margin: 0 auto; }
.box-instalar .btnInstalar .btn { background: #41c3cc; border: 0; border-radius: 10px; box-shadow: 0 4px #2a979e; color: #fff; font-family: 'Poppins', sans-serif; font-size: 24px; font-weight: 600; padding: 20px 22px; text-align: center; text-transform: uppercase; text-decoration: none;}

/* Box Depoimentos */
.box-depoimentos { background: #f3f5f9; padding: 100px 0 100px; }
.box-depoimentos h2 { font-size: 35px; font-weight: 700; text-align: center; }
.box-depoimentos .textoDep {  color: #41516a; font-size: 25px; font-family: 'Poppins', sans-serif; margin-bottom: 50px;display: block; font-weight: 100; text-align: center; }
.box-depoimentos .owl-carousel .item { height: 230px; overflow: hidden;}
.owl-carousel .owl-controls .owl-nav { }
.box-depoimentos .owl-carousel .item .boxDep { background: #fff; border-radius: 10px; box-shadow: 5px 10px 8px #00000005; padding: 30px; text-align: center; }
.box-depoimentos .owl-carousel .item .boxDep h3 { color: #282835; font-size: 18px; font-weight: 700; margin-bottom: 20px;}
.box-depoimentos .owl-carousel .item .boxDep p {font-size: 14px;}   
.box-depoimentos .owl-carousel .item .boxDep span { color: #282835; }
.box-depoimentos .owl-carousel .item .boxDep span em { display: block; color: #a6a6a6; font-size: 13px; font-style: inherit;}
.box-depoimentos .owl-carousel .item .boxDep span em a { text-decoration: none;}
.owl-dots {text-align: center;margin-top: 10px; display: block;}
.owl-dots .owl-dot {display: inline-block;}
.owl-dots .owl-dot span {background: #d6d6d6; border-radius: 30px; display: block; height: 10px; margin: 0 7px;  transition: opacity 200ms ease 0s; width: 10px;}
.owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span { background: #869791;}
.owl-carousel .owl-controls .owl-nav { display: none;}

/* Box Preço */
.box-preco {background: url(../img/bg-fundo-branco.png), linear-gradient(141deg, #3727b1 0%, #9353ca 51%, #af60d1 75%); padding: 90px 0 90px; }
.box-preco h2 {color: #fff; font-size: 35px; font-weight: 700; margin-bottom: 60px; text-align: center; }
.box-preco .boxPreco { background: #fff; border-radius: 10px; margin: 0 auto; margin-bottom: 40px; text-align: center; padding: 0;}
.box-preco .boxPreco .textTitulo1 { color: #fff; background: #31c7c9; border-top-left-radius: 10px; border-top-right-radius: 10px; font: 300 25px 'Poppins', sans-serif; padding: 20px; text-align: center; }
.box-preco .boxPreco .textTitulo2 { color: #fff; background: #43cc54; border-top-left-radius: 10px; border-top-right-radius: 10px; font: 300 25px 'Poppins', sans-serif; padding: 20px; text-align: center;}
.box-preco .boxPreco .textTitulo1 span, .box-preco .boxPreco .textTitulo2 span { font-weight: 600; }
.box-preco .boxPreco .textTitulo2 {background: #43cc54;}
.box-preco .boxPreco p { padding: 40px 20px; text-align: center; font: 300 16px 'Poppins', sans-serif; margin: 0; line-height: 1.4;}
.box-preco .boxPreco .textCancelar1 span { color: #31c7c9; display: block;}
.box-preco .boxPreco .textCancelar2 span { color: #5f3abb; display: block;}
.box-preco .boxPreco .precoTitulo { padding: 30px 20px 0px; }
.box-preco .boxPreco p span { font-size: 18px; font-weight: 700;}
.box-preco .boxPreco .textPreco1, .box-preco .boxPreco .textPreco2 { padding: 0 15px; text-align: center;}
.box-preco .boxPreco .textPreco1 span { color: #1e5ea0; font-family: 'Nunito', sans-serif; font-size: 138px; font-weight: 800;position: relative;}
.box-preco .boxPreco .textPreco2 span { color: #5f3abb; font-family: 'Nunito', sans-serif; font-size: 138px; font-weight: 800;position: relative;}
.box-preco .boxPreco .textPreco1 span small, .box-preco .boxPreco .textPreco2 span small { font-size: 40px; }
.box-preco .boxPreco .textPreco1 span sub, .box-preco .boxPreco .textPreco2 span sub { color: #8a8a8a; font-size: 30px; font-style: inherit; bottom: 0;}
/*.box-preco .boxPreco .textPreco1 span::before { content: "R$"; position: absolute; font-size: 44px; top: 60px; }*/
.box-preco .boxPreco .textPreco1 .btnPreco, .box-preco .boxPreco .textPreco2 .btnPreco { margin: 0 auto; margin-top: 30px;}
.box-preco .boxPreco .btnPreco { margin: 0 auto;}
.box-preco .boxPreco .btnPreco .btn {background: #ff9c00; border: 0; border-radius: 10px; box-shadow: 0 4px #e08900; color: #fff; font-family: 'Fjalla One', sans-serif; font-size: 20px; font-weight: 400; padding: 20px 60px; text-align: center; text-transform: uppercase; text-decoration: none;}

/* FOOTER */
footer .rodape { background: #23273b;}
footer .footerCopyright { background: #1c1f2f; padding: 20px;}
.footerCopyright div.row {padding: 0;margin: 0;}
.instiFooter {  padding: 0; }
.instiFooter p { font-size: 12px; margin: 0; text-align: center; color: #fff; opacity: 0.5; }
.instiFooter ul {padding: 0;color: #01a3bb;margin: 0;}
.instiFooter ul li{display: inline;}
.instiFooter ul li a {color: #a9a9a9;text-transform: uppercase;font-size: 11px;    padding: 0 5px;}
.footerContato {padding: 30px 0;}
.footerContato div {margin-top: 20px;}
.footerContato h3 { text-align: left; }
.footerContato ul { padding: 0; list-style: none;}
.footerContato ul li { display: inline-block; line-height: 2; margin-right: 15px;}
.footerContato ul li a { color: #fff; opacity: 0.8;}
.footerContato ul li a::before { color: #485371; background: #1c253e; font-family: "Font Awesome 5 Brands"; font-size: 18px; padding: 10px 16px; border-radius: 20%;}
.footerContato ul li a:hover {color: #46ca58; transition: all .6s ease;}
.footerContato .footerSocial ul li { display: inline-block; }
.footerContato .footerSocial ul li a { opacity: 1; }
.footerContato .facebook::before {content: "\f082";}
.footerContato .twitter::before {content: "\f099";}
.footerContato .instagram::before {content: "\f16d";}

.footerContato h3, .footerProdutos h3 { color: #fff; font: 300 18px 'Poppins', sans-serif; margin-bottom: 30px;}
.footerContato p { color: #fff; font: 300 14px 'Poppins', sans-serif; line-height: 1.7; opacity: 0.5;}
.footerContato p a { color: #fff; }
.footerContato span{color:#01a8c1;}
.telFooter1 {padding-top: 20px;}
.telFooter1 a { text-decoration: none; }
.telFooter1 small { color: #fff; font: 300 18px 'Poppins', sans-serif; opacity: 0.7;}
.footerProdutos ul:first-of-type{margin-right: 50px;}
.footerProdutos ul {padding: 0;display: inline-block;margin-bottom: 0;vertical-align: top;}
.footerProdutos ul li {list-style: none;line-height: 32px;text-decoration: none;}
.footerProdutos ul li a { color: #fff; font: 300 14px 'Poppins',sans-serif; opacity: 0.5; text-decoration: none;}
.copyright{color: #a9a9a9;font-size: 12px;}

/* Atualizado */
#modalLogin #formLogin { float: left; width: 100%;}
#modalLogin #formLogin { float: left; width: 100%;}
#modalLogin #formLogin input, .boxFormRec form input {border: 1px solid #e4e4e4; border-radius: 8px; line-height: 1.5; font-size: 1rem;}
#modalLogin #formLogin input:focus, .boxFormRec form input:focus { border: none; border-radius: 8px; box-shadow: 0 0 0 0.2rem #42c953; outline: none;}
#modalLogin #formLogin button:focus, .boxFormRec form button:focus { outline: none; box-shadow: none;}

.errorCustom{ margin-top: 15px; float: left; width: 100%;}
.senhaRec { display: inline-block; margin-right: 15px;}
.senhaRec a {color: #495057; font-size: 14px; text-decoration: underline;}

.mainRec { margin-top: 90px;}
.boxFormRec { padding-top: 50px; max-width: 400px; width: 100%;}
.boxFormRec h1 { font-size: 22px;}
.boxFormRec form { background: #f9f9f9; box-shadow: 0 1px 1px 0 rgba(0, 1, 1, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12); background:#F9F9F9; padding: 20px;}
.boxFormRec form button { float: none;}
.boxFormRec form button:hover { background: #2cb03e;}

/*************/

/* =======MEDIA QUERIES======= */

@media (max-width: 1199px){
	.swiper-container .caption p { font-size: 26px;}
	.swiper-container .caption p span { font-size: 20px;}
	.box-comecar ul li::after { left: 50px; }
	.box-preco .boxPreco .textPreco1 span, .box-preco .boxPreco .textPreco2 span { font-size: 120px;}
}
@media (max-width: 991px) {
	h2 { font-size: 28px!important;}
	.topo-home .navbar-nav li a { font-size: 14px; line-height: 2.5; padding: 0;}
	.topo-home .navbar-nav li:last-child { order: -1; }
	.swiper-container .caption p { margin: 0 auto;}
	.topo-home .navbar-shrink .navbar-toggler {border: none;}
	.topo-home .navbar-shrink .navbar-toggler-icon::before { color: #fff;}
	.navbar-nav { margin-top: 20px;}
	.banner-home { margin-top: 57px;}
	.box-institucional { padding: 60px 0 60px;}
	.box-institucional img { display: none;}
	.box-video { max-height: inherit;}
	.box-video .texto-video { padding: 50px 50px 20px;}
	.box-vantagem .img-box-vantagem { display: none; }
	.box-depoimentos .owl-carousel .item { height: 260px;}
	.box-instalar p {font-size: 22px;}
}
@media (min-width: 991px) {
.topo-home .fixed-top { padding: 25px 0; /*-webkit-transition: padding .3s; -moz-transition: padding .3s; transition: padding .3s;*/} 
.topo-home .fixed-top .navbar-brand { width: 204px; padding-top: 0; padding-bottom: 0;}
}
@media (max-width: 767px) {
	.swiper-container .caption p { font-size: 34px;}
	.swiper-container .caption p span { font-size: 28px;}
	.swiper-container .caption { padding: 0 30px; text-align: center; width: 100%;}
	.banner-home img { width: 168%; max-width: 168%; min-height: 300px;}
	.box-depoimentos .owl-carousel .item { height: 230px;}
	.box-comecar ul li::after { left: 140px;}
	.box-instalar p {font-size: 18px;}
}
@media (max-width: 576px) {
	.box-preco .boxPreco .textPreco span { font-size: 115px;}
	.box-preco .boxPreco .textPreco span::before, .box-preco .boxPreco .textPreco span sub, .box-preco .boxPreco .textPreco span small {font-size: 30px;}
	.swiper-container .caption p { font-size: 20px;}
	.swiper-container .caption p span { font-size: 18px;}
	.box-depoimentos .owl-carousel .item { height: 260px;}
	.box-comecar ul li::after { left: 130px;}
}
@media (max-width: 480px) {
	.box-comecar ul li::after { left: 100px;}
}
@media (max-width: 380px) {
	.box-comecar ul li::after { left: 75px;}
	.box-preco .boxPreco .textPreco1 span, .box-preco .boxPreco .textPreco2 span { font-size: 100px;}
	.box-preco .boxPreco .textPreco1 span sub, .box-preco .boxPreco .textPreco2 span sub {font-size: 20px;}
}
@media (max-width: 320px) {
	.box-comecar ul li::after { left: 34px;}
}